@media (max-width: 500px) {
  .section-one {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      'h2'
      'pic1'
      'pic2'
      'pic3'
      'pic4';
  }

  section.section-two {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      'pict1'
      'pict2'
      'pict3'
      'pict4'
      'pict5'
      'pict6';
  }
}

@media (max-width: 800px) and (min-width: 501px) {
  .section-one {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'h2 h2'
      'pic1 pic2'
      'pic3 pic4';
  }

  section.section-two {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'pict1 pict2'
      'pict3 pict4'
      'pict5 pict6';
  }
}

@media (min-width: 801px) {
  .section-one {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'h2 h2 h2 h2'
      'pic1 pic2 pic3 pic4';
  }

  section.section-two {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'pict1 pict2 pict3'
      'pict4 pict5 pict6';
  }
}
